<% if(typeof errors != 'undefined') { %>
<% errors.forEach(function(error) { %>
<p> <%= error.msg %></p>
<% })  %>
<% } %>
<% console.log((typeof errors != 'undefined'));%>

<% if(success_msg != '') { %>
<p><%=success_msg %></p>

<%=error_msg %>
<% } %>
<% if(error != '') { %>
<%= error %>
<% } %>