<html>
  <%- include('./partials/header.ejs') %>
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  </style>
  <body>
    <div class="text-center">
      <form class='form-inline' method="POST" action=/changeName>
        <label for="name">Name:</label>
        <input class="form-control" onkeypress="return /[a-z]/i.test(event.key)" type="text" id="name" name="name" value=<%=global.user.name%>>
        <button type="submit">Change</button>
      </form>
      <form method="POST" action=/changeEmail class='form-inline'>
        <label for="email">Email:</label>
        <input class="form-control" type="text" id="email" name="email" value=<%=global.email%>>
        <button type="submit">Change</button>
      </form>
      <form method="POST" action=/changeWater class='form-inline'>
        <label for="water">Goal:</label>
        <input class="form-control" required type="number" min="0" id="water" name="water" value=<%=global.goal%>>
        <button type="submit">Change</button>
      </form>
    </div>
  </body>
</html>